/* Colors */
$paragraph-color: #333333;
$brand-main-color: #ff0000;
$light-color: #ffffff;

$grey-dark-color: #979797;
$grey-color: #989898;
$grey-light-color: #e3e3e3;
$grey-fade-color: #f5f5f2;

$green-dark-color: #04ae00;
$green-light-color: #74b67a;
$green-fade-color: #96cc9b;

$orange-dark-color: #f58220;
$orange-light-color: #ffa200;

$red-dark-color: #de5252;
$red-light-color: #ec7171;

$tab-color: #56819f;

/* Font sizes */
$paragraph-font-size: 16px;
$page-header: 16px;
$section-header: 16px;
$text: 12px;

/* Fonts */
$font-family: 'Roboto', sans-serif;


